body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: aqua;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .header {
    text-align: center;
  }
  
  .header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form button {
    width: 100%;
    background-color: #000;
    color: #597ed3;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #000000;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer a {
    color: #000;
  }