body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: url(../images/portal.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  
  .loginbox {
    width: 380px;
    height: 480px;
    border-radius:10px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing:border-box;
    padding:20px;
  } 
  
  h1 {
    margin-top: 35px;
    text-align: center;
    font-size: 22px;
    padding: 0 0 10px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left:calc(50% - 50px);
    top: -50px;
  }
  
  .loginbox p{
    font-weight:bold;
  }

  .loginbox input{
    width:100%;
    margin-bottom: 20px;
  }

  .loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
  }
  
  .loginbox p label {
    cursor: pointer;
  }

  .loginbox input[type="submit"]{
    background-color: darkcyan;
    height:40px;
    font-size:18px;
    border-radius: 20px;
  }

  .loginbox input[type="submit"]:hover {
    background-color: #000;
    color:#fff;
    cursor: pointer;
  }

  .loginbox a{
    text-decoration:none;
    color: darkcyan;
    font-size: 14px;
  }

  .textbelow{
    font-size: 14px;
    font-weight:normal;
  }

  .textbelow-1{
    color:red;
    font-size: 14px;
    font-weight:normal;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer a {
    color: #000;
  }