{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{% static 'images/letter-t-icon-21.jpg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body bgcolor="white">
    <form action="login" method="post" >
        {% csrf_token %} 
        
        <p>
            <label for="user_name">User Name</label>
            <input type="text" name="user_name" id="user_name" placeholder="Antman56." required autocomplete="on">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="123$aBc" required>
        </p>
        <input type="submit" value="Submit">
        <p>Not a member? <a href="register">Register here!</a></p>
      
    </form>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

</body>
</html>