{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/letter-t-icon-21.jpg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    
</head>
<body bgcolor="white">
    <script>
        function myfun(){
            var a = document.getElementById("password1").value;
            var b = document.getElementById("password2").value;

            if(a!=b){
                document.getElementById("messages").innerHTML="Passwords do not match"
                return false;
            }
        }
    </script>
    <form onsubmit="return myfun();" action="register" method="post" >
        {% csrf_token %} 
        
        <input type="text" name="user_name" id="user_name" placeholder="User Name" autocomplete="on" required autofocus><br>
        <input type="text" name="f_name" id="f_name" placeholder="First Name" autocomplete="on" required><br>
        <input type="text" name="l_name" id="l_name" placeholder="Last Name" autocomplete="on" required><br>
        <input type="email" name="email" id="email" placeholder="Email" autocomplete="on" required><br>
        <input type="password" name="password1" id="password1" placeholder="Password" required><br>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password" required><span id="messages" style="color:red"></span><br>
        <input type="submit" value="Submit" >
      
      </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>